@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}



.contact-container{
    width: 100vw;
    height: 80vh;
    background-image: url(../../assets/img/background-contato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contact-text-msg{
    text-align: left;
    width: 25%;
    margin-top: 5%;
    margin-left: 10%;

}

.contact-text-msg p{
    font-size: clamp(8px, 1.5vw, 16px);
    
}

.contact-text-msg h1{
    
    font-size: clamp(16px, 3vw, 32px);
    font-family: 'Dancing Script' , sans-serif;
    margin-bottom: 5%;
}

.contatos{
    width: 50%;
    margin-top: 3%;
}

.contato-style{

    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 2%;
    border-radius: 20px;
    background-color: white;
    width: clamp(150px, 25vw, 250px );
    margin-left: 10vw;
    
}

.contato-style img{
    margin-right: 6px;
    width: 25px;
    margin-left: 1vw;
    
}

.contato-style p{
    font-size: clamp(8px, 1.4vw, 16px);
    text-align: center;
    color: black;
}


