@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

.sponsors-container{

    width: 100vw;
    height: 70vh;
    background-color: rgb(157, 238, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-sponsors{
    width: 25%;
    text-align: center;
    margin-left: 50%;

}

.text-sponsors h1{
    font-family: 'Dancing Script' , sans-serif;
    font-size: clamp(16px, 3vw, 32px);
    margin-bottom: 3%;
    color: black;
}

.text-sponsors p{
    font-size: clamp(8px, 1vw, 16px);
    color: black;
}

.img-sponsors-handshake{
    position: absolute;
    width: 25%;
    left: 20%;
}