
.cssaj{
    display: none;
}
.header-container {

    background: linear-gradient(rgba(255, 0, 242, 0.432), rgba(255, 33, 207, 0.555)), url("../../assets/img/bkg-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 7px 1px rgba(0, 0, 0, 0.2);
    z-index: 11;

}


.menu-links {
    display: flex;
    gap: 16px;
    z-index: 1111;

}

.menu-header {

    transition: color 0.3s;
    border-radius: 10px;
    padding: 0px 16px;
    border: 1px solid transparent;
    color: white;
    border: 1px solid white;
    z-index: 1111;
}

.menu-header:hover {


    cursor: pointer;
    color: rgb(212, 0, 255);
    background-color: rgba(255, 255, 255, 0.671);

}




@media screen and (max-width: 768px) {
    .header {
        flex-direction: column; /* Alinhe verticalmente os itens */
    }

    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10; /* Overlay a cima de todos os elementos, exceto o menu links. */
    }


    .menu-icon {
        display: block; /* Mostra o ícone de menu */
    }

    /* Estilos para o ícone de menu hamburguer */
    .menu-icon {
        cursor: pointer;
        z-index: 1111;
        
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #2ecc71;
        margin: 3px 0;
        z-index: 1111;
    }

    /* Estilos para a lista de links do menu hamburguer */
    .menu-links {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #1a1919;
        position: absolute;
        top: 80px;
        left: 0;
        width: 80%;
        gap: 0;
        border-radius: 10px;
        margin-left: 10%;
        z-index: 1111;

    }



    .menu-links li {
        padding: 20px;
        width: 100%;
        text-align: center;
        width: 100%;
        z-index: 1111;
    }

    .menu-links a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        width: 100%;        
    }

        
}
